@tailwind base;
@tailwind components;
@tailwind utilities;

html, div {
    scroll-behavior: smooth !important;
}

body {
    @apply bg-dark-blue text-white;
    overflow-x: hidden;
    /* margin: 0;
    height:100vh;
    width:100vw; */
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
}

@layer components {
    .btn-contained {
        @apply bg-marine-blue text-white px-5 py-1 font-semibold;

        &:hover {
            @apply bg-light-blue;
        }

    }

    .btn-contained-alt {
        @apply bg-white text-light-blue px-5 py-1 font-bold;
    }

    .btn-outline {
        @apply bg-none text-white border border-marine-blue px-5 py-1 font-semibold;

        &:hover {
            @apply border-light-blue bg-light-blue;
        }
    }

    section {
        @apply px-5;
    }

    .section-heading {
        @apply text-white text-3xl md:text-5xl font-semibold;
    }

    .hero-image {
        @apply brightness-[.4] lg:brightness-100 absolute left-1/2 transform -translate-x-1/2 bottom-0 max-w-full max-h-full;
    }

    .hero-lottie {
        width: 103vw;
        height: 101vh;
        position: absolute;
        top: -4px;
        left: -6.25%;

        @media only screen and (max-width: 1366px) {
            width: 150vw;
        }

        @media only screen and (max-width: 1280px) {
            width: 200vw;
            left: -56.25%;
        }

        @media only screen and (max-width: 768px) {
            width: 500vw;
            left: -156.25%;
        }
    }

    /* Showcase section */
    @keyframes upAndDown {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }
    
    .cube {
        @apply absolute;
    }

    .cube-1 {
        animation: upAndDown 1.2s ease-in-out infinite;
        @apply brightness-[.3] lg:brightness-100 -top-28 -left-32 xl:-left-16 2xl:left-56;
    }

    .cube-2 {
        animation: upAndDown 1s ease-in-out infinite;
        @apply brightness-[.3] lg:brightness-100 -top-28 -left-48 xl:-left-48 2xl:-left-6;
    }

    .cube-3 {
        animation: upAndDown 1.4s ease-in-out infinite;
        @apply opacity-30 lg:opacity-100 -top-72 -left-56 xl:-left-24 2xl:left-8;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fade-in.animate {
        opacity: 1;
        transform: translateY(0);
    }

    /* Roadmap */
    @keyframes pulsate {
        0% {
          transform: scale(.8) rotate(0deg);
        }
        50% {
          transform: scale(1.2) rotate(180deg);
        }
        100% {
          transform: scale(.8) rotate(360deg);
        }
      }
      
      .pulsating {
        animation: pulsate 60s infinite ease-in-out; /* Adjust duration as needed */
      }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}