@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-dark-blue text-white;
}

@layer components {
    .btn-contained {
        @apply bg-marine-blue text-white px-5 py-1;

        &:hover {
            @apply bg-light-blue;
        }

    }

    .btn-contained-alt {
        @apply bg-white text-light-blue px-5 py-1 font-bold;
    }

    .btn-outline {
        @apply bg-none text-white border border-marine-blue px-5 py-1;

        &:hover {
            @apply border-light-blue bg-light-blue;
        }
    }

    .hero-lottie {
        width: 103vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -6.25%;

        @media only screen and (max-width: 1366px) {
            width: 150vw;
        }

        @media only screen and (max-width: 1280px) {
            width: 200vw;
            left: -56.25%;
        }

        @media only screen and (max-width: 768px) {
            width: 500vw;
            left: -156.25%;
        }
    }

    @keyframes upAndDown {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }

    .cube-1 {
        animation: upAndDown 1.2s ease-in-out infinite;
    }
    .cube-2 {
        animation: upAndDown 1s ease-in-out infinite;
    }
    .cube-3 {
        animation: upAndDown 1.4s ease-in-out infinite;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}